.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
.env
!.env.example
storage/*.sqlite*
storage/.app_key
assets/uploads/*
!assets/uploads/.gitkeep
!assets/uploads/banners/
assets/uploads/banners/*
!assets/uploads/banners/.gitkeep

